[Unit]
Description=PowerTOP auto tune

[Service]
Type=idle
Environment="TERM=dumb"
ExecStart=/usr/sbin/batery_really_save.sh

[Install]
WantedBy=multi-user.target
EOF
