[Unit]
Description=PowerTOP auto tune

[Service]
Type=idle
Environment="TERM=dumb"
ExecStart=/opt/battery_really_save_linux//batery_really_save.sh

[Install]
WantedBy=multi-user.target
EOF
